In [1]:
import numpy as np
import pandas as pd
from PIL import Image
from random import randint
import cv2
import glob

In [2]:
train_mnist_data_csv = pd.read_csv("data\mnist_pixel_data.csv")
display(train_mnist_data_csv.head())
print(len(train_mnist_data_csv))

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

42000

In [3]:
labels = pd.DataFrame(train_mnist_data_csv.label)
train_mnist_data_csv = train_mnist_data_csv.drop(labels=['label'], axis=1)
labels['image_id'] = labels.index
display(labels.head())

   label  image_id
0      1         0
1      0         1
2      1         2
3      4         3
4      0         4

In [4]:
train_mnist_data_csv.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# import os
# os.mkdir("train_images")

In [7]:
# img1 = np.asarray(train_mnist_data_csv.loc[0].values).reshape(28, 28).astype(np.uint8)
# img = Image.fromarray(img1)
# img = img.convert('RGB')
# img.save(f"train_images/{0}.png", "PNG")

In [8]:
# for i in range(len(train_mnist_data_csv)):
#     img1 = np.asarray(train_mnist_data_csv.loc[i].values).reshape(28, 28).astype(np.uint8)
#     img = Image.fromarray(img1)
#     img = img.convert('RGB')
#     img.save(f"train_images/{i}.png", "PNG")
#     if i % 500 == 0:
#         print("-", end="")

------------------------------------------------------------------------------------

In [9]:
# labels.to_csv("image_labels.csv", index=False)

In [10]:
# os.mkdir("phone_number_images")

In [5]:
img = Image.open(f"data\mnistImages\{0}.png")
img.show()

In [6]:
phone_number_dataset = pd.DataFrame(index=range(40000),columns=["image_id", "phone_number"])

In [15]:
dataset_length = 40000
for i in range(dataset_length):
    random_indicies = [randint(0, dataset_length) for i in range(10)]
    # print(f"random indicies:\n{random_indicies}")
    phone_number = str(''.join(str(num) for num in [labels.loc[i, 'label'] for i in random_indicies]))
    # print(f"phone number generated:\n{phone_number}")
    images_id_list = [f"data\mnistImages\{id}.png" for id in random_indicies]
    # print(f"images id list:\n{images_id_list}")
    img1 = Image.open(images_id_list.pop(0))
    for im in images_id_list:
        img2 = Image.new('RGB', (img1.width + Image.open(im).width, 28), (0,0,0))
        img2.paste(img1, (0, 0))
        img2.paste(Image.open(im), (img1.width, 0))
        img1 = img2
    img1.save(f"data\phone_number_images\phoneNumberImage{i}.png", "PNG")
    phone_number_dataset.loc[i,'image_id'] = f"phoneNumberImage{i}.png"
    phone_number_dataset.loc[i, 'phone_number'] = phone_number
    if(i % 500 == 0):
        print("-", end="")

--------------------------------------------------------------------------------

In [16]:
phone_number_dataset.head()

                image_id phone_number
0  phoneNumberImage0.png   6420513217
1  phoneNumberImage1.png   0529750676
2  phoneNumberImage2.png   1129451587
3  phoneNumberImage3.png   1889324881
4  phoneNumberImage4.png   8296078985

In [17]:
phone_number_dataset.to_csv("phone_numbers_dataset.csv", index=False)